target/
bin/
build/

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

.settings/
.classpath
.project
.idea/
*.iml
*.ipr
*.iws

*.log
*.tmp
*.swp
.DS_Store
*.orig

.env
*.keystore
*.jks

.factorypath
